/* * {
  box-sizing: border-box;
} */
body {
  margin: 0;
  background-color: paleturquoise;
}

h1 {
  font-size: 28px;
}

h1,
h4,
a {
  font-family: arial;
}

/* .banner {

} */
.nav-button {
  margin: 10px 30px;
  background-color: ivory;
  padding: 20px;
  border-radius: 20px;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  background-color: darkcyan;
}

.product-image {
  width: 200px;
}

.products-tile {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

#products-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
  text-align: center;
}

#front-page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
}

#front-page-img {
  height: auto;
  width: 50%;
}

#company-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#company-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

#contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

#contact-submit {
  margin-top: 20px;
  padding: 20px;
}

#contact-submit:hover {
  background-color: silver;
}

label {
  margin-top: 20px;
  text-align: center;
}

#contact-message {
  width: 400px;
  height: 100px;
}

#company-img {
  width: 40%;
}

#company-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

/*Phone */
@media screen and (max-width: 375px) {
  .nav-bar {
    -ms-flex-wrap: flex;
        flex-wrap: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 40px;
    width: 10x;
    position: fixed;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav-bar h1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #front-page-content {
    margin-top: 0;
  }
  #front-page-img {
    margin-left: 150px;
    background-color: darkcyan;
  }
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #products-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 140px;
  }
  #company-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px;
  }
  #contact-form {
    max-width: 90%;
  }
}

@media screen and (min-width: 300px) {
  /* #contact-form {
    ;
  } */
}

/* Tablet */
@media screen and (max-width: 1024px) {
  .nav-bar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=style.css.map */